<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hercubit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <!-- Put Modal window here for later use -->
        <div id="modal-overlay"></div>
        <div id="modal-window" class="card">
            <h1></h1>
            <form id="modal-add-goal">
                <p>Bisep curl: <input type="number" name="bisep-number" value="0" min="0" max="20"></p>
                <p>Tricep curl: <input type="number" name="trisep-number" value="0" min="0" max="20"></p>
                <p>Shoulder: <input type="number" name="shoulder-number" value="0" min="0" max="20"></p>
                <p><input type="submit" value="Add"></p>
            </form>
        </div>

        <header>
            <div class="header-logo">Hercubit</div>
            <div class="header-action">
                <img src="../static/img/kate.png">
                <img src="../static/img/challenge.png">
                <img src="../static/img/setting.png">
            </div>
        </header>

        <!-- Left side: metadata -->
        <section class="metadata" data-state="neutral">
            <!-- Graph -->
            <div class="card">
                <!-- <img src="../static/img/gridview.png" style="width:100%;"> -->
                <div id="activity-map">
                    <p><span class="span-24 span-regular">April</span></p>
                </div>
            </div>

            <!-- Achievements -->
            <div class="card clear">
                <div class="achievement lines clear">
                    <div class="icon"><img src="../static/img/elephant.png"></div>
                    <div class="desc">
                        <h1>Weight</h1>
                        <h4>1500 lbs</h4>
                    </div>
                </div>
                <div class="achievement lines clear">
                    <div class="icon"><img src="../static/img/calories.png"></div>
                    <div class="desc">
                        <h1>Calories</h1>
                        <h4>16,315 cal</h4>
                    </div>
                </div>
                <div class="achievement lines clear">
                    <div class="icon"><img src="../static/img/badge.png"></div>
                    <div class="desc">
                        <h1>Treadmill Rat</h1>
                        <h4>Achieved 1000 miles</h4>
                    </div>
                </div>
            </div>
        </section>

        <!-- Middle: Main -->
        <section class="main">
            <div class="main-action">
                <div id="chosen-goal">
                    <span class="span-36 span-regular">Goal 1: 10 curls</span>
                </div>
                <div id="count" data-state="neutral">
                    <span class="span-288 ">2</span>
                    <span class="span-36 span-regular">/10</span>
                </div>
                <div class="button span-24" id="startbtn">Start</div>
                <span id="debug-output"></span>
            </div>
            <div class="card" data-state="neutral">
                <div class="goal lines clear" data-state="neutral" id="add-goal">
                    <div class="num">+</div>
                    <div class="desc">Add New Goal</div>
                </div>
            </div>
        </section>

        <section class="social" data-state="neutral">
            <div class="card">
                <div class="friend lines clear">
                    <div class="num">1</div>
                    <div class="icon"><img src="../static/img/morgan.png"></div>
                    <div class="desc">Accomplished 3 goals</div>
                </div>
                <div class="friend lines clear">
                    <div class="num">2</div>
                    <div class="icon"><img src="../static/img/kate.png"></div>
                    <div class="desc">Achieved 1500 lbs</div>
                </div>
                <div class="friend lines clear">
                    <div class="num">3</div>
                    <div class="icon"><img src="../static/img/shaohan.png"></div>
                    <div class="desc">Accomplished 2 goals</div>
                </div>
                <div class="friend lines clear">
                    <div class="num">4</div>
                    <div class="icon"><img src="../static/img/charles.png"></div>
                    <div class="desc">Accomplished 1 goals</div>
                </div>
            </div>
        </section>

        <script src="../static/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="../static/js/socket.io.min.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/websockets.js"></script>
    </body>
</html>
